In [4]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [5]:
df_train = pd.read_csv("SalaryData_Train(1).csv")
df_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df_train.shape

(30161, 14)

In [7]:
df_train['workclass'].value_counts()

 Private             22285
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64

In [8]:
df_train['education'].value_counts()

 HS-grad         9840
 Some-college    6677
 Bachelors       5044
 Masters         1627
 Assoc-voc       1307
 11th            1048
 Assoc-acdm      1008
 10th             820
 7th-8th          557
 Prof-school      542
 9th              455
 12th             377
 Doctorate        375
 5th-6th          288
 1st-4th          151
 Preschool         45
Name: education, dtype: int64

In [9]:
df_train['educationno'].value_counts()

9     9840
10    6677
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: educationno, dtype: int64

In [10]:
df_train['maritalstatus'].value_counts()

 Married-civ-spouse       14065
 Never-married             9725
 Divorced                  4214
 Separated                  939
 Widowed                    827
 Married-spouse-absent      370
 Married-AF-spouse           21
Name: maritalstatus, dtype: int64

In [11]:
df_train['occupation'].value_counts()

 Prof-specialty       4038
 Craft-repair         4030
 Exec-managerial      3992
 Adm-clerical         3721
 Sales                3584
 Other-service        3212
 Machine-op-inspct    1965
 Transport-moving     1572
 Handlers-cleaners    1350
 Farming-fishing       989
 Tech-support          912
 Protective-serv       644
 Priv-house-serv       143
 Armed-Forces            9
Name: occupation, dtype: int64

In [12]:
df_train['relationship'].value_counts()

 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      888
Name: relationship, dtype: int64

In [13]:
df_train['race'].value_counts()

 White                 25932
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64

In [14]:
df_train['sex'].value_counts()

 Male      20380
 Female     9781
Name: sex, dtype: int64

In [15]:
df_train['capitalgain'].value_counts()

0        27623
15024      337
7688       270
7298       240
99999      148
         ...
1639         1
6097         1
2538         1
1455         1
1086         1
Name: capitalgain, Length: 118, dtype: int64

In [16]:
df_train['hoursperweek'].value_counts()

40    14250
50     2718
45     1753
60     1405
35     1184
      ...
82        1
94        1
92        1
87        1
74        1
Name: hoursperweek, Length: 94, dtype: int64

In [17]:
df_train['native'].value_counts()

 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 China                            68
 Italy                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Poland                           56
 Columbia                         56
 Iran                             42
 Taiwan                           42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 France                           27
 Ecuador                          27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Laos                             17
 Thailand                         17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
Name: native, dtype: int64

In [18]:
df_train['Salary'].value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [19]:
# Data transformation for train data set
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

for i in range(1,14):
    df_train.iloc[:,i] = LE.fit_transform(df_train.iloc[:,i])

df_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,12,4,0,1,4,1,24,0,39,37,0
1,50,4,9,12,2,3,0,4,1,0,0,12,37,0
2,38,2,11,8,0,5,1,4,1,0,0,39,37,0
3,53,2,1,6,2,5,0,2,1,0,0,39,37,0
4,28,2,9,12,2,9,5,2,0,0,0,39,4,0

In [20]:
# split the variables as two parts
X_train = df_train.iloc[:,0:13]
Y_train = df_train.iloc[:,13]

In [21]:
X_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,5,9,12,4,0,1,4,1,24,0,39,37
1,50,4,9,12,2,3,0,4,1,0,0,12,37
2,38,2,11,8,0,5,1,4,1,0,0,39,37
3,53,2,1,6,2,5,0,2,1,0,0,39,37
4,28,2,9,12,2,9,5,2,0,0,0,39,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,7,11,2,12,5,4,0,0,0,37,37
30157,40,2,11,8,2,6,0,4,1,0,0,39,37
30158,58,2,11,8,6,0,4,4,0,0,0,39,37
30159,22,2,11,8,4,0,3,4,1,0,0,19,37
30160,52,3,11,8,2,3,5,4,0,107,0,39,37

In [22]:
Y_train

0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: Salary, Length: 30161, dtype: int64

In [23]:
df_test = pd.read_csv("SalaryData_Test(1).csv")
df_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [24]:
df_test.shape

(15060, 14)

In [25]:
# Data transformation for test data set
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

for i in range(1,14):
    df_test.iloc[:,i] = LE.fit_transform(df_test.iloc[:,i])

df_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,6,4,6,3,2,1,0,0,39,37,0
1,38,2,11,8,2,4,0,4,1,0,0,49,37,0
2,28,1,7,11,2,10,0,4,1,0,0,39,37,1
3,44,2,15,9,2,6,0,2,1,87,0,39,37,1
4,34,2,0,5,4,7,1,4,1,0,0,29,37,0

In [26]:
# split the variables as two parts
X_test = df_test.iloc[:,0:13]
Y_test = df_test.iloc[:,13]

In [27]:
X_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,6,4,6,3,2,1,0,0,39,37
1,38,2,11,8,2,4,0,4,1,0,0,49,37
2,28,1,7,11,2,10,0,4,1,0,0,39,37
3,44,2,15,9,2,6,0,2,1,87,0,39,37
4,34,2,0,5,4,7,1,4,1,0,0,29,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,12,4,9,3,4,1,0,0,39,37
15056,39,2,9,12,0,9,1,4,0,0,0,35,37
15057,38,2,9,12,2,9,0,4,1,0,0,49,37
15058,44,2,9,12,0,0,3,1,1,73,0,39,37
15059,35,3,9,12,2,3,0,4,1,0,0,59,37

In [28]:
Y_test

0        0
1        0
2        1
3        1
4        0
        ..
15055    0
15056    0
15057    0
15058    0
15059    1
Name: Salary, Length: 15060, dtype: int64

In [29]:
#Grid Search CV

In [30]:
clf = SVC(C= 15, gamma = 50)
clf.fit(X_train , Y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_test, y_pred)

Accuracy = 76.06241699867198

array([[11142,   218],
       [ 3387,   313]])

In [31]:
clf = SVC(C= 15, gamma = 10)
clf.fit(X_train , Y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_test, y_pred)

Accuracy = 76.06241699867198

array([[11142,   218],
       [ 3387,   313]])

In [32]:
clf = SVC(C= 15, gamma = 5)
clf.fit(X_train , Y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_test, y_pred)

Accuracy = 76.06241699867198

array([[11142,   218],
       [ 3387,   313]])

In [33]:
clf = SVC(C= 15, gamma = 0.5)
clf.fit(X_train , Y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y_test, y_pred)

Accuracy = 76.42098273572377

array([[10763,   597],
       [ 2954,   746]])

In [34]:
clf1 = SVC(kernel= "linear") 
clf1.fit(X_train , Y_train)
y_pred1 = clf1.predict(X_test)
acc1 = accuracy_score(Y_test, y_pred1) * 100
print("Accuracy =", acc1)
confusion_matrix(Y_test, y_pred1)

Accuracy = 80.41832669322709

array([[11039,   321],
       [ 2628,  1072]])

In [35]:
clf2 = SVC(kernel= "poly") 
clf2.fit(X_train , Y_train)
y_pred2 = clf2.predict(X_test)
acc2 = accuracy_score(Y_test, y_pred2) * 100
print("Accuracy =", acc2)
confusion_matrix(Y_test, y_pred2)

Accuracy = 81.87915006640107

array([[11165,   195],
       [ 2534,  1166]])